<%- include('./partials/header')%>
<h1 class="text-center mt-4">New blog</h1>

<form class="form mx-auto" action="/blogs" method="post">
  <div class="form-group mb-3">
    <label class="form-label" for="username">Username</label>
    <input
      type="text"
      name="username"
      id="username"
      required
      class="form-control"
      placeholder="username"
    />
  </div>
  <div class="form-group mb-3">
    <label class="form-label" for="title">Title</label>
    <input
      type="text"
      name="title"
      id="title"
      required
      class="form-control"
      placeholder="title"
    />
  </div>
  <div class="form-group mb-3">
    <label class="form-label" for="blog">Title</label>
    <textarea
      rows="5"
      name="blog"
      id="blog"
      class="form-control"
      required
      placeholder="blog"
    ></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Create</button>
</form>
<%- include('./partials/footer')%>
